<%= form_with(model: sasaeru, local: true) do |form| %>
  <% if sasaeru.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sasaeru.errors.count, "error") %> prohibited this sasaeru from being saved:</h2>

      <ul>
      <% sasaeru.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :top_text %>
    <%= form.text_field :top_text, value: "WAVE+BB PRESS" %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, value: "〇〇〇〇〇〇〇を支える技術" %>
  </div>

  <div class="field">
    <%= form.label :sub_title %>
    <%= form.text_field :sub_title, value: "なんらかのサブタイトル" %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author, value: "名無しの権兵衛" %>
  </div>

  <div class="field">
    <%= form.label :base_color %>
    <%= form.color_field :base_color, value: '#b2a2c7' %>
  </div>

  <div class="field">
    <%= form.label :lead, class: "text-area" %>
    <%= form.text_area :lead, rows: 3, cols: 30, value: "なんらかの文章。なんらかの文章  なんらかの文章。" %>
  </div>

  <div class="field">
    <%= form.label :sub_lead_1 %>
    <%= form.text_field :sub_lead_1, size: 30, value: 'Lorem ipsum／dolor sit amet／consectetur' %>
  </div>

  <div class="field">
    <%= form.label :sub_lead_2 %>
    <%= form.text_field :sub_lead_2, size: 30, value: 'adipiscing elit／Duis orci dolor／consequat' %>
  </div>

  <div class="field">
    <%= form.label :sub_lead_3 %>
    <%= form.text_field :sub_lead_3, size: 30, value: 'vitae dolor non／tincidunt／maximus felis' %>
  </div>

  <div class="field">
    <%= form.label :sub_lead_4 %>
    <%= form.text_field :sub_lead_4, size: 30, value: 'Lorem ipsum／dolor sit amet／consectetur' %>
  </div>

  <div class="field">
    <%= form.label :bottom_text %>
    <%= form.text_field :bottom_text, size: 30, value: 'なんらかのボトムテキスト' %>
  </div>
  
  <div class="field">
    <%= form.label :publisher %>
    <%= form.text_field :publisher, size: 30, value: '〇〇評論社' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
