<p id="notice"><%= notice %></p>

<p>
  <strong>一番上の文字:</strong>
  <%= @sasaeru.top_text %>
</p>

<p>
  <strong>タイトル:</strong>
  <%= @sasaeru.title %>
</p>

<p>
  <strong>サブタイトル:</strong>
  <%= @sasaeru.sub_title %>
</p>

<p>
  <strong>著者名:</strong>
  <%= @sasaeru.author %>
</p>

<p>
  <strong>カラー:</strong>
  <%= @sasaeru.base_color %>
</p>

<p>
  <strong>リード文:</strong>
  <%= @sasaeru.lead %>
</p>

<p>
  <strong>サブリード文1:</strong>
  <%= @sasaeru.sub_lead_1 %>
</p>

<p>
  <strong>サブリード文2:</strong>
  <%= @sasaeru.sub_lead_2 %>
</p>

<p>
  <strong>サブリード文3:</strong>
  <%= @sasaeru.sub_lead_3 %>
</p>

<p>
  <strong>サブリード文4:</strong>
  <%= @sasaeru.sub_lead_4 %>
</p>

<p>
  <strong>ボトムテキスト:</strong>
  <%= @sasaeru.bottom_text %>
</p>

<p>
  <strong>出版社名:</strong>
  <%= @sasaeru.publisher %>
</p>

<%= link_to '変更する', edit_sasaeru_path(@sasaeru) %> |
<%= link_to '戻る', new_sasaeru_path %>
<hr>

<%= link_to "PDFでダウンロードする", sasaeru_path(@sasaeru, format: "pdf") %>
